<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-3.5.1.js"></script>
    <link href="../css/login.css" rel="stylesheet" type="text/css">
    <title>로그인</title>
</head>
<body>
    <div class="loginArea">
        <div id="left">
            <img id="logo" src="../images/login_logo.png">
        </div>
        <div id="right">
            <label>로그인</label>
            <form method="post" action="/auth/loginProc">
                <input id="username" name="username" type="text" placeholder="아이디"><br>
                <input id="password" name="password" type="password" placeholder="비밀번호">
                <button id="btn_login">로그인</button>
            </form>
        </div>
    </div>

    <script src="../js/auth.js"></script>
</body>
</html>