@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    margin-top: 20px;
}

.input-container label {
    font-weight: bold;
}

.input-container textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: var(--body-font);
    font-size: 17px;
}

.input-container button[type="submit"] {
    background-color: #0275d8;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    /*transition: background-color 0.2s ease-in-out;*/
    font-family: var(--body-font);
}

.input-container button[type="submit"]:hover {
    background-color: #01447e;
}

.image-container {
    width: 512px;
    height: 512px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}