@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 35%;
    margin-top: 20px;
}

.input-container label {
    font-weight: bold;
}

.input-container textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: var(--body-font);
    font-size: 17px;
}

.image-container {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}