<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <link href="css/image.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-3.5.1.js"></script>
    <title>Image</title>
  </head>
  <body>

    <div th:replace="header.html"></div>

    <div class="container">
      <div class="input-container">
        <label for="input">문장 입력:</label>
        <textarea id="input" rows="3"></textarea>
        <button id="send" type="submit">전송</button>
      </div>
      <div class="image-container">
        <img id="show-img" src="#" alt="image">
      </div>
    </div>

  <script src="/js/img.js"></script>
  </body>
</html>