<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-3.5.1.js"></script>
    <title>메인</title>
</head>
    <body>

        <div th:replace="header.html"></div>

        <div class="QA">
            <labe>질문: </labe><p>
            <input type="text" name="qeustion" id="qeustion"><p>
            <label>답변:</label><p>
            <textarea id="answer" name="answer" readonly="true"></textarea><p>
            <button id="btn_qeustion">GPT</button>
        </div>
        <script src="js/index.js"></script>
    </body>
</html>